<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>End ♡</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="javascript/script.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
</head>
<body>
    <header class="name">
        <h1 class="servername">Добро пожаловать на End ♡</h1>
    </header>
    <main>
        <div class="container">
            <p>Рады видеть тебя здесь!</p>
        </div>
    </main>
    <footer>
        <p>Создатель — <a target="_blank" href="https://discordapp.com/users/835901811448872960">unqukad#4191</a></p>
    </footer>
</body>
</html>