* {
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 14, 14);
    color: #333;
    font-family: Arial, sans-serif;
}

.name h1 {
    font-size: 35px;
    text-align: center;
    color: #ff69b4;
    text-shadow: 1px 1px #ccc;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container {
    padding: 30px;
    text-align: center;
    max-width: 500px;
}

.container p {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #ff69b4;
    text-shadow: 0.5px 0.5px #ccc;
}

footer {
    color: #ff69b4;
    text-shadow: 0.5px 0.5px #ccc;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    color: #ff69b4;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }
    
    main {
        flex-direction: column;
    }

    .container {
        max-width: 90%;
        padding: 20px;
    }

    .container p {
        font-size: 16px;
        margin-bottom: 20px;
    }
}